<!--<div>
    <input type="text" [(ngModel)]="value" placeholder="Enter the Name">
    <button (click)="Send()">Send</button>
</div>-->


<header  class="box">
    <h1>Child Component</h1>
    <div class="input-group">
    <input class="input-field" type="text" [(ngModel)]="value1" placeholder="Enter the First Name">
    <input class="input-field" type="text" [(ngModel)]="value2" placeholder="Enter the Middle Name">
    <input class="input-field" type="text" [(ngModel)]="value3" placeholder="Enter the Last Name">
    <button class="send-button" (click)="Send()">SendFromChild</button>
</div>
</header>


